@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

p {
  color: #383838;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.semi-bold {
  font-weight: 600;
}

.call-to-action {
  display: inline-block;
  width: 100%;
  padding: 0.9em 0;
  color: #adadad;
  background: #000;
  border-radius: 5px;
  text-align: center;
}
.call-to-action .semi-bold {
  color: #fff;
}
.call-to-action.small {
  width: auto;
  padding: 0.9em 1.35em;
}
.call-to-action:hover, .call-to-action:focus {
  background: #1d1d1d;
}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.dropdown {
  position: absolute;
  width: 100%;
  padding: 0.5em 0;
  background: #fff;
  text-align: center;
  color: #383838;
  border-radius: 5px;
}

header {
  background-image: url("../Assets/Background.png");
  background-size: cover;
  background-position: center;
  padding: 1em 0 0;
}
header nav #menu-icon {
  cursor: pointer;
}
header nav #nav-actions {
  position: relative;
}
header nav #nav-actions ul li + li {
  margin-top: 1.25em;
}
header nav #nav-actions ul li img {
  cursor: pointer;
}
header section#hero {
  text-align: center;
}
header section#hero .hero-img {
  line-height: 0;
}

section#about {
  padding: 4.5em 0 1.5em;
}
section#about .about-img {
  line-height: 0;
}
section#about .about-desc {
  margin-top: 3em;
}

footer {
  color: #383838;
  padding: 2em 0;
}
footer .policies {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
footer .policies a:hover,
footer .policies a:focus {
  color: #1d1d1d;
}

@media screen and (min-width: 600px) {
  .call-to-action {
    width: auto;
    padding: 0.9em 1.35em;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  nav #menu {
    display: none;
  }
  nav #nav-actions {
    display: block;
  }
  nav #nav-actions .dropdown {
    position: initial;
    padding: 0;
    background: none;
    border: none;
  }
  nav #nav-actions .dropdown .container {
    width: 100%;
  }
  nav #nav-actions .dropdown .container ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
  nav #nav-actions .dropdown .container ul li + li {
    margin-left: 1.35em;
    margin-top: 0;
  }

  section#hero {
    margin-top: 3em;
  }
  section#hero .hero-img {
    margin-top: 6.75em;
    height: 425px;
    overflow: hidden;
  }
  section#hero .hero-img img {
    width: 100%;
  }

  section#about .about-img {
    width: 70%;
    margin: 0 auto;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
  }
  footer .container .policies {
    margin-top: 0;
  }
  footer .container .policies a + a {
    margin-left: 1.35em;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 78%;
  }

  nav {
    margin-top: 1.5em;
  }

  section#hero .hero-img {
    margin-top: 4.5em;
    height: 400px;
  }

  section#about {
    padding-bottom: 3em;
  }
  section#about .container {
    display: flex;
  }
  section#about .container .about-desc {
    margin-top: 0;
    width: 60%;
  }
  section#about .container .about-img {
    order: 1;
    margin-left: 4.5em;
    width: 40%;
  }
}