@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Variables
$base-text: #383838;
$secondary-text: #adadad;
$black: #000;
$white: #fff;

// Defaults
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

p {
  color: $base-text;
}

// Utilities
.container {
  width: 90%;
  margin: 0 auto;
}

.semi-bold {
  font-weight: 600;
}

.call-to-action {
  display: inline-block;
  width: 100%;
  padding: 1em 0;

  color: $secondary-text;
  background: $black;
  border-radius: 5px;

  .semi-bold {
    color: $white;
  }
}

.dflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.dropdown {
  position: absolute;
  width: 100%;
  padding: 0.5em 0;

  background: $white;
  text-align: center;
  color: $base-text;
  border-radius: 5px;
}

// Header
header {
  background-image: url('../Assets/Background.png');
  background-size: cover;

  background-position: center;
  padding: 1em 0 0;

  nav {
    #menu-icon {
      cursor: pointer;
    }

    #nav-actions {
      position: relative;

      ul li + li {
        margin-top: 1.25em;
      }

      ul li img {
        cursor: pointer;
      }
    }
  }

  section#hero {
    text-align: center;

    .hero-img {
      line-height: 0;
    }
  }
}

// Section: About

// Footer
